{% extends 'base.html' %}

{% block body_block %}

<h2> A message has been sent to {{ seller }} informing them of your interest in: </h2>

<table>
	<thead>
		<th>Title</th>
		<th>Author</th>
		<th>Edition</th>
		<th>Condition</th>
		<th>Price</th>
	</thead>
	<tbody>
		<tr>
			<td>{{ book.title }}</td>
			<td>{{ book.author }}</td>
			<td>{{ book.cover_type }}</td>
			<td>{{ book.condition }}</td>
			<td>{{ book.price }}</td>
		</tr>
	</tbody>
</table>

<h2> Watch for a reply in your inbox! </h2>

<a href='/home'> Return home </a>

{% endblock %}